<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="navbar navbar-default">
                        <ul class="nav navbar-nav">
                            {{each nav}}
                            <li {{if pathname==$value.url}} class="nav-item active" {{/if}}>
                                <a class="nav-link" href="{{$value.url}}">
                                    {{$value.title}}
                                    <!-- &nbsp; -->
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12">
                <p>网站备案号：{{setting.site_icp}}</p>
                <p>QQ：{{setting.site_qq}}&nbsp;&nbsp;&nbsp;&nbsp;
                    地址：{{setting.site_address}}</p>
            </div>
        </div>
    </div>
</footer>