<head>
    <link rel="stylesheet" href="/default/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/default/css/bootstrap.min.css">
    <link rel="stylesheet" href="/default/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/default/css/ace.min.css">
    <link rel="stylesheet" type="text/css" href="/default/css/header.css">
    <link rel="stylesheet" type="text/css" href="/default/css/index.css" />
    <script type="text/javascript" src="/default/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/default/js/isScroll.js"></script>
    <script type="text/javascript" src="/default/js/login.js"></script>
</head>
<header class="header-top">
    <div class="customer">
        <div class="customer-manage">
            <i class="icon-user"></i>
            {{if client}}
            <span style="font-size:14px;color: #FFF;">{{client}}，欢迎您！<i class="icon-off"></i><a href="/loginout">退出</a></span>
            {{else}}
            <span style="font-size:14px;color: #FFF;">您还未登录，<a href="/login">请登录</a></span>
            {{/if}}
            <span class="customer-register"><i class="icon-plus-sign-alt"></i><a href="/register">注册</a></span>
        </div>
    </div>
    <div id="header-wrapper">
        <div class="header-inner">
            <div class="left">
                <div class="logodiv">
                    <img src="/default/images/log_xun_01.jpg" alt="逊然旖旎_log">
                    <ul class="logo"><li>X</li> <li>R</li> <li>Y</li> <li>L</li></ul>
                </div>
                <div class="word-logo">
                    <p>顾青翠之茂叶，繁<span class="red">旖旎</span>之弱条。</p>
                    <p>谅抗节而矫时，独滋茂而不雕。</p>    
                </div>
            </div>
            <div class="nav">
                <ul class="clear">
                    {{each nav}}
                    <li>
                        <a href="{{$value.url}}" {{if pathname==$value.url}} class="active" {{/if}}>{{$value.title}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- 手机端 -->
<div class="navbar-container" id="navbar-container">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">
            <small>
                <i class="icon-desktop"></i>
                逊然旖旎_个人网站
            </small>
        </a><!-- /.brand -->
    </div><!-- /.navbar-header -->

    <div class="navbar-header" role="navigation">
        <ul class="nav ace-nav">
            <li class="light-blue">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo" src="/default/images/service/customer-header.png" alt="Jason's Photo">
                    <span class="user-info">
                        <small>欢迎光临,</small>
                        {{if client}}
                        {{client}}
                        {{else}}
                        未登录
                        {{/if}}
                    </span>

                    <i class="icon-caret-down"></i>
                </a>

                <ul class="user-menu dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    {{if client}}
                    <li>
                        <a href="/register">
                            <i class="icon-plus-sign-alt"></i>
                            注册
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/loginout">
                            <i class="icon-off"></i>
                            退出
                        </a>
                    </li>
                    {{else}}
                    <li>
                        <a href="/login">
                            <i class="icon-user"></i>
                            登录
                        </a>
                    </li>
                    <li>
                        <a href="/register">
                            <i class="icon-plus-sign-alt"></i>
                            注册
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/loginout">
                            <i class="icon-off"></i>
                            退出
                        </a>
                    </li>
                    {{/if}}
                    <!-- <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                设置
                            </a>
                        </li> -->


                </ul>
            </li>
        </ul><!-- /.ace-nav -->
    </div><!-- /.navbar-header -->
    <div class="breadcrumbs" id="breadcrumbs">
            <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-calendar home-icon"></i>
                <a href="#">博客</a>
            </li>
            <li class="active">{{activeUrl}}</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input"
                        autocomplete="off">
                    <i class="icon-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- #nav-search -->
    </div>
    <div class="sidebar" id="sidebar">
        <ul class="nav nav-list">
            {{each nav}}
            <li {{if pathname==$value.url}} class="active" {{/if}}>
                <a href="{{$value.url}}">
                    <i class="{{$value.icon}}"></i>
                    <span class="menu-text">{{$value.title}}</span>
                </a>
            </li>
            {{/each}}
        </ul><!-- /.nav-list -->
        <!-- <div class="sidebar-collapse" id="sidebar-collapse">
            <i class="icon-double-angle-right" data-icon1="icon-double-angle-left"
                data-icon2="icon-double-angle-right"></i>
        </div> -->
        <script type="text/javascript">
            try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
        </script>
    </div>
</div>