@charset "utf-8";
/* CSS Document */
*{
    padding: 0;
    margin: 0;
}
body{
    padding-top: 110px!important;
    background: #fff;
}
#main-wrapper{  background:#FFF; }
.main{ width:1140px;  background:#FFF; margin:0 auto; padding:30px 0 54px 0;}
.service-wrapper{
    background: url(../images/service/service-bg6.jpg) no-repeat;
    background-size: 100% 800px;
    background-color: #fff;
}
.service img{
	margin-top: 30px;
}
.service h3{
    height: 30px;   
    line-height: 30px;
    text-align: center;
    color: #666666;
}
.guestbook{
    margin-right: 10px;
}
.guestbook h2{
  font-size: 18px;
  color:#61b3e6;
  border-bottom:2px solid #61b3e6;
  margin-bottom: 15px;
}
.guestbook textarea{
    display: block;
    padding: 5px;
    margin: auto;
    width: 800px;
    height: 130px;
    resize: none;
    border: 1px solid #61b3e6;
    border-radius: 10px!important;
    outline: none;
}
.guestbook input {
    display: block;
    margin: 10px;
    float: right;
    width: 60px;
    height: 30px;
    line-height: 30px;
    background-color: #61b3e6;
    color:#fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.comment>ul{
    padding: 0;
    margin: 0;
}
.comment >ul>li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}
.comment .comment-item .userlogo {
    float: left;
    width: 100px;
    text-align: center;
}
.comment .comment-item .userlogo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.comment .comment-item .userlogo .username {
    color: #61b3e6;
}
.comment .comment-item .comment-txt {
    position: relative;
    float: right;
    width: 650px;
    min-height: 100px;
    font-size: 14px;
    line-height: 25px;
}
.comment .comment-item .comment-txt p{
    margin: 0;
    padding: 0;
}
.comment .comment-item .comment-txt .time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    text-align: right;
}
.shadow{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    display: none;
}
.shadow-box{
    width: 400px;
    height: 200px;
    margin: 200px auto;
    background: #fff;
    padding-top: 50px;
    border-radius: 10px;
}
.shadow-text{
    font-size: 16px;
    padding: 20px 0 40px 0;
    display: block;
    text-align: center;
}
.shadow-btn{
    width: 60px;
    height: 30px;
    line-height: 30px;
    background-color: #61b3e6;
    color:#fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width:768px){
    .guestbook textarea {
        padding: 5px;
        margin: 0 auto;
        width: 100%;
        height: 130px;
    }
    .comment >ul>li {
        padding: 5px;
    }
    .comment .comment-item .userlogo {
        float: left;
        width: 80px;
    }
    .comment .comment-item .comment-txt {
        float: none;
        width: 100%;
        min-height: 120px;
    }
}