<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>逊然旖旎_博客_登录页面</title>
    <meta name="Keywords" content="逊然旖旎_博客_登录页面" />
    <meta name="Description" content="逊然旖旎_博客_登录页面" />
    <link rel="icon" href="default/images/index/blog.ico" type="image/x-icon">
    <link rel="stylesheet" href="default/css/login.css">
    <script type="text/javascript" src="default/js/canvas.js"></script>
    <script type="text/javascript" src="default/js/jquery-1.10.2.min.js"></script>    
    <script type="text/javascript" src="default/js/login.js"></script>
</head>

<body>
    <div class="login-wrapper">
        <canvas id="J_dotLine" style="background-color: #1d1925;"></canvas>
        <div class="login">
            <h1>博客用户登录界面</h1>
            <p> <span>账户</span><input type="text" name="customer-name" class="customer-name"></p>
            <p> <span>密码</span><input type="password" name="customer-pwd" class="customer-pwd"></p>
            <p> <span>验证码</span><input type="text" name="customer-code" id="customer-code" class="customer-code"><img src="{{_host}}/cusCode" alt="验证码" id="code-img"></p>
            <p><input type="button" class="submit" value="登录" onclick="customer.login()"></p>
            <div class="result"></div>
            <div class="red"></div>
            <div class="link"><a href="/register">注册</a><a href="/">首页</a></div>
        </div>
    </div>
</body>

</html>